* {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error_message {
  color: red;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 2px;
  margin: 0;
}

.containerForm {
  display: block;
  max-width: 400px;
  margin: 20vh auto 0 auto;
}
